@media screen and (max-width:768px){
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg,$color-negro 10%,$color-gris 73%);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .abrir-menu{
        display: block;
    }
    .cerrar-menu{
        display: block;
    }

    .containerCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        p{
            font-size: 2rem;
        }
    }

    .boxGrid{
        grid-template-columns: 1fr;
    }
}